.main{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height:75vh;
}

.search-box{
    display:flex;
    justify-content: center;
    max-width:50%;
    padding:40px 40px;
    font-size: 30px;
}

.weather-block{
    background-color: rgba(0,0,0, 0.8);
    color:white;
    height:70%;
    width:60%;
}

.btn{
    font-size: 15px;
    background: none;
    color:white;
    cursor: pointer;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.text-field{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:2px solid grey;
    border-radius: 5px;
    font-size: 20px;
    width:200px;
    padding:5px;
}